@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-spring-bottom-sheet/dist/style.css";

:root {
  --app-width: 460px;
  --background: #fff;
  --foreground: rgb(50, 50, 50);
}

html,
body {
  height: 100%;
  background-color: var(--background);
}
body {
  color: var(--foreground);
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

[data-rsbs-overlay],
[data-rsbs-backdrop] {
  max-width: var(--app-width);
  margin: auto;
}
